<p id="notice"><%= notice %></p>

<h1>Listing Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.customer_id %></td>
        <td><%= purchase.game_id %></td>
        <td><%= link_to 'Show', purchase, class:"w3-button w3-green w3-border" %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase), class:"w3-button w3-yellow w3-border" %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' }, class:"w3-button w3-red w3-border" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="w3-button w3-black"><%= link_to 'New Purchase', new_purchase_path %></p><br>

<p class="w3-button w3-black"><%= link_to "Maintenance", maintenance_mainview_path %></p><br>
