<script src="../_js/jquery-1.7.2.min.js"></script>
<script>
$(document).ready(function() { 
outtoConfirm = function()
{
$('body').css('background-color','#804000');

$('h1').after('<center> <h2> Check all data. Make changes if necessary. Then hit the <b>"Submit"</b> button </h2></center>');
var titlein, descriptionin, trailerin, pricein; 
titlein = $('#game_title').val();
descriptionin = $('#game_description').val();
trailerin= $('#game_trailer').val();
pricein= $('#game_price').val();

$('#game_title').css('background-color', 'yellow');
$('#game_title').val(titlein);
$('#game_description').css('background-color', 'yellow');
$('#game_description').val(descriptionin);
$('#game_trailer').css('background-color', 'yellow');
$('#game_trailer').val(trailerin); 
$('#game_price').css('background-color', 'yellow');
$('#game_price').val(pricein);
$('#game_price').after('<p><input name="submitButton" type="submit" id="submission" value="Submit Confirmed Data" length = 20> </p>');
$('#confirmButton').remove();
$('#submission').hover(function()
{ 
$(this).css('background-color', 'tan') 


}); //end 
}
$('#confirmButton').click(outtoConfirm); 
}); //end ready
</script>


</script>



<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :trailer %><br>
    <%= f.text_field :trailer %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

<input name="submitButton" type="submit" id="confirmButton" value="Submit Data" length = 20> </p>
<% end %>
